<!DOCTYPE html>
<html ng-app="deviceApp" ng-controller="PhoneReservationReportController">
<head>
    <meta charset="utf-8" />
    <title>Phone Numbers Report</title>
    <script>
        if (!sessionStorage.getItem('username')) {
            window.location.href = '/Account/Login';
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-animate.min.js"></script>
    <script src="../Scripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="../Scripts/PhoneNumbers.js"></script>
    <script src="../Scripts/PhoneNumberReport.js"></script>
    <link rel="stylesheet" href="../Content/client.css" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Task 6</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="Task6.html">Devices</a></li>
                <li><a href="client.html">Clients</a></li>
                <li><a href="phonenumbers.html">Phone Numbers</a></li>
                <li><a href="PhoneNumberReservation.html">Phone Numbers Reservation</a></li>
                <li><a href="clientReports.html">Client Report</a></li>
                <li><a href="phoneNumbersReport.html">Device Report</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Phone Numbers Report</h2>
        <div class="form-inline">
            <div ng-controller="PhoneReservationReportController">
                <div class="form-inline">

                    <device-selector selected-device="filters.deviceId" is-search="true"></device-selector>

                    <select class="form-control" ng-model="filters.status" ng-change="getData()">
                        <option value="">All</option>
                        <option value="1">Reserved</option>
                        <option value="0">Unreserved</option>
                    </select>
                </div>

                <table class="table table-bordered table-striped" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Phone Number Status</th>
                            <th># of Phone Numbers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in data">
                            <td>{{ row.Device }}</td>
                            <td>{{ row.Status }}</td>
                            <td>{{ row.Count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>