USE [master]
GO
/****** Object:  Database [Device Management]    Script Date: 4/9/2026 11:01:45 PM ******/
CREATE DATABASE [Device Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Device Management', FILENAME = N'C:\Users\User\OneDrive\Documents\SQL Server Management Studio\Device Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Device Management_log', FILENAME = N'C:\Users\User\OneDrive\Documents\SQL Server Management Studio\Device Management_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Device Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Device Management]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 4/9/2026 11:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [int] NOT NULL,
	[BirthDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 4/9/2026 11:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumber]    Script Date: 4/9/2026 11:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumber](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](20) NOT NULL,
	[DeviceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumberReservations]    Script Date: 4/9/2026 11:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumberReservations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[PhoneNumberID] [int] NOT NULL,
	[BED] [date] NOT NULL,
	[EED] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/9/2026 11:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [char](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [Name], [Type], [BirthDate], [IsDeleted]) VALUES (1, N'Omega Ltd1', 1, NULL, 0)
INSERT [dbo].[Client] ([ID], [Name], [Type], [BirthDate], [IsDeleted]) VALUES (3, N'Jane Doe', 0, CAST(N'2002-12-30T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Client] ([ID], [Name], [Type], [BirthDate], [IsDeleted]) VALUES (4, N'Delta Systems', 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Device] ON 

INSERT [dbo].[Device] ([id], [name]) VALUES (1, N'Samsung A57')
INSERT [dbo].[Device] ([id], [name]) VALUES (2, N'iPhone 13')
INSERT [dbo].[Device] ([id], [name]) VALUES (3, N'iPhone 14 Pro')
SET IDENTITY_INSERT [dbo].[Device] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneNumber] ON 

INSERT [dbo].[PhoneNumber] ([ID], [Number], [DeviceID]) VALUES (1, N'70123453', 1)
INSERT [dbo].[PhoneNumber] ([ID], [Number], [DeviceID]) VALUES (2, N'71234567', 2)
INSERT [dbo].[PhoneNumber] ([ID], [Number], [DeviceID]) VALUES (3, N'76543210', 3)
SET IDENTITY_INSERT [dbo].[PhoneNumber] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneNumberReservations] ON 

INSERT [dbo].[PhoneNumberReservations] ([ID], [ClientID], [PhoneNumberID], [BED], [EED]) VALUES (1, 1, 3, CAST(N'2025-07-01' AS Date), CAST(N'2025-07-15' AS Date))
INSERT [dbo].[PhoneNumberReservations] ([ID], [ClientID], [PhoneNumberID], [BED], [EED]) VALUES (2, 3, 2, CAST(N'2025-06-01' AS Date), CAST(N'2025-07-19' AS Date))
INSERT [dbo].[PhoneNumberReservations] ([ID], [ClientID], [PhoneNumberID], [BED], [EED]) VALUES (3, 1, 1, CAST(N'2025-07-02' AS Date), CAST(N'2025-07-10' AS Date))
SET IDENTITY_INSERT [dbo].[PhoneNumberReservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [PasswordHash]) VALUES (4, N'alain3', N'7d10754b0c93568f38c8a3740a763e388d80be2dfef84a884af283350fffd4d5')
INSERT [dbo].[Users] ([ID], [Username], [PasswordHash]) VALUES (5, N'alain', N'2f48d80251b88e869a0545f5f40f3f666ec4248e1714c7e2dec9a36756feb72e')
INSERT [dbo].[Users] ([ID], [Username], [PasswordHash]) VALUES (6, N'alain1', N'b3a1cf67d9fc8010f19efb0deddb0f09941c56940b7e768727d3b6b81154a1dd')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4D2507681]    Script Date: 4/9/2026 11:01:46 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PhoneNumber]  WITH CHECK ADD FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([id])
GO
ALTER TABLE [dbo].[PhoneNumberReservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[PhoneNumberReservations] CHECK CONSTRAINT [FK_Reservation_Client]
GO
ALTER TABLE [dbo].[PhoneNumberReservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_PhoneNumber] FOREIGN KEY([PhoneNumberID])
REFERENCES [dbo].[PhoneNumber] ([ID])
GO
ALTER TABLE [dbo].[PhoneNumberReservations] CHECK CONSTRAINT [FK_Reservation_PhoneNumber]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD CHECK  (([Type]=(1) OR [Type]=(0)))
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [CK_Clients_AdultIndividuals] CHECK  (([Type]<>(0) OR [BirthDate] IS NOT NULL AND [BirthDate]<=dateadd(year,(-18),getdate())))
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [CK_Clients_AdultIndividuals]
GO
ALTER TABLE [dbo].[PhoneNumberReservations]  WITH CHECK ADD  CONSTRAINT [CK_Reservation_Date] CHECK  (([EED] IS NULL OR [BED]<=[EED]))
GO
ALTER TABLE [dbo].[PhoneNumberReservations] CHECK CONSTRAINT [CK_Reservation_Date]
GO
/****** Object:  StoredProcedure [dbo].[AddClient]    Script Date: 4/9/2026 11:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddClient]
    @Name NVARCHAR(100),
    @Type INT,
    @BirthDate DATETIME = NULL
AS
BEGIN
    INSERT INTO Client (Name, Type, BirthDate)
    VALUES (@Name, @Type, @BirthDate);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddPhoneNumber]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPhoneNumber]
    @Number VARCHAR(20),
    @DeviceID INT
AS
BEGIN
    INSERT INTO PhoneNumber (Number, DeviceID)
    VALUES (@Number, @DeviceID)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteClient]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DeleteClient]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check for active reservations
    IF EXISTS (
        SELECT 1
        FROM PhoneNumberReservations
        WHERE ClientID = @ID
          AND BED <= GETDATE() -- Reservation started
          AND (EED IS NULL OR EED > GETDATE()) -- Still active
    )
    BEGIN
        -- Raise a meaningful error
        RAISERROR('Client has active phone number reservations.', 16, 1);
        RETURN;
    END

    -- Otherwise delete the client
    UPDATE Client SET IsDeleted = 1 WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllClients]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllClients]
AS
BEGIN
    SELECT ID,Name,Type,BirthDate
    FROM Client
    WHERE IsDeleted=0
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPhoneNumbers]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPhoneNumbers]
AS
BEGIN
    SELECT P.ID, P.Number, P.DeviceID, D.Name AS DeviceName
    FROM PhoneNumber P
    INNER JOIN Device D ON P.DeviceID = D.ID
END
GO
/****** Object:  StoredProcedure [dbo].[GetAvailablePhoneNumbers]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAvailablePhoneNumbers]
AS
BEGIN
    SELECT pn.ID, pn.Number, pn.DeviceID
    FROM PhoneNumber pn
    WHERE pn.ID NOT IN (
        SELECT PhoneNumberID
        FROM PhoneNumberReservations
        WHERE EED IS NULL
    )
END
GO
/****** Object:  StoredProcedure [dbo].[GetClientCountByType]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetClientCountByType]
    @Type INT = NULL
AS
BEGIN
    SELECT
        Type,
        CASE Type
            WHEN 0 THEN 'Individual'
            WHEN 1 THEN 'Organization'
            ELSE 'Unknown'
        END AS TypeName,
        COUNT(*) AS ClientCount
    FROM Client
    WHERE (@Type IS NULL OR Type = @Type)
        AND IsDeleted=0
    GROUP BY Type
END
GO
/****** Object:  StoredProcedure [dbo].[GetFilteredClients]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFilteredClients]
    @Name NVARCHAR(100) = NULL,
    @Type INT = NULL
AS
BEGIN
    SELECT * FROM Client
    WHERE (@Name IS NULL OR Lower(Name) LIKE '%' + LOWER(@Name) + '%')
      AND (@Type IS NULL OR Type = @Type);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetFilteredPhoneNumbers]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFilteredPhoneNumbers]
    @Number VARCHAR(20) = NULL,
    @DeviceID INT = NULL
AS
BEGIN
    SELECT P.ID, P.Number, P.DeviceID, D.Name AS DeviceName
    FROM PhoneNumber P
    INNER JOIN Device D ON P.DeviceID = D.ID
    WHERE (@Number IS NULL OR P.Number LIKE '%' + @Number + '%')
      AND (@DeviceID IS NULL OR P.DeviceID = @DeviceID)
END
GO
/****** Object:  StoredProcedure [dbo].[GetPhoneNumberReservationReport]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPhoneNumberReservationReport]
    @DeviceID INT = NULL,
    @Status INT = NULL -- 0 = Unreserved, 1 = Reserved, NULL = All
AS
BEGIN
    WITH PhoneStatusView AS (
        SELECT 
            D.Name AS DeviceName,
            CASE 
                WHEN EXISTS (
                    SELECT 1 FROM PhoneNumberReservations R
                    WHERE R.PhoneNumberID = P.ID AND (R.EED IS NULL OR R.EED > GETDATE())
                ) THEN 'Reserved'
                ELSE 'Unreserved'
            END AS PhoneNumberStatus
        FROM PhoneNumber P
        INNER JOIN Device D ON P.DeviceID = D.ID
        WHERE (@DeviceID IS NULL OR P.DeviceID = @DeviceID)
    )
    SELECT
        DeviceName,
        PhoneNumberStatus,
        COUNT(*) AS CountOfPhoneNumbers
    FROM PhoneStatusView
    WHERE (@Status IS NULL 
           OR (@Status = 1 AND PhoneNumberStatus = 'Reserved') 
           OR (@Status = 0 AND PhoneNumberStatus = 'Unreserved'))
    GROUP BY DeviceName, PhoneNumberStatus
    HAVING COUNT(*) > 0
    ORDER BY DeviceName, PhoneNumberStatus
END
GO
/****** Object:  StoredProcedure [dbo].[GetReservedPhoneNumbersByClient]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetReservedPhoneNumbersByClient]
    @ClientID INT
AS
BEGIN
    SELECT pn.ID, pn.Number 
    FROM PhoneNumber pn
    JOIN PhoneNumberReservations r ON r.PhoneNumberID = pn.ID
    WHERE r.ClientID = @ClientID
      AND r.BED <= GETDATE()
      AND (r.EED IS NULL OR r.EED > GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[HasActiveReservation]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[HasActiveReservation]
	@ClientID INT
AS
BEGIN
	SELECT CASE
		WHEN EXISTS(
			SELECT 1
			FROM PhoneNumberReservations
			WHERE ClientID = @ClientID
				AND BED <= GETDATE()
				AND (EED IS NULL OR EED > GETDATE())
		)
		THEN CAST(1 AS BIT)
		ELSE CAST(0 AS BIT)
	END AS HasActiveReservation
END
GO
/****** Object:  StoredProcedure [dbo].[ReservePhoneNumber]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReservePhoneNumber]
    @ClientID INT,
    @PhoneNumberID INT
AS
BEGIN
    -- Check if the phone number is already reserved and still active
    IF EXISTS (
        SELECT 1 FROM PhoneNumberReservations
        WHERE PhoneNumberID = @PhoneNumberID
          AND BED <= GETDATE()
          AND (EED IS NULL OR EED > GETDATE())
    )
    BEGIN
        RAISERROR('Phone number is already reserved.', 16, 1)
        RETURN
    END

    -- Insert new reservation
    INSERT INTO PhoneNumberReservations (ClientID, PhoneNumberID, BED, EED)
    VALUES (@ClientID, @PhoneNumberID, GETDATE(), NULL)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDevice]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddDevice]
    @name NVARCHAR(100)
AS
BEGIN
    INSERT INTO Device (name)
    VALUES (@name)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDevices]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllDevices]
AS
BEGIN
    SELECT id, name FROM Device;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFilteredDevices]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetFilteredDevices]
    @name NVARCHAR(100)
AS
BEGIN
    SELECT id, name 
    FROM Device
    WHERE @name IS NULL OR name LIKE '%' + @name + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPhoneNumberReservations]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPhoneNumberReservations]
    @ClientID INT = NULL,
    @PhoneNumberID INT = NULL
AS
BEGIN
    SELECT r.ID, c.Name AS ClientName, p.Number AS PhoneNumber, r.BED, r.EED
    FROM PhoneNumberReservations r
    INNER JOIN Client c ON r.ClientID = c.ID
    INNER JOIN PhoneNumber p ON r.PhoneNumberID = p.ID
    WHERE (@ClientID IS NULL OR r.ClientID = @ClientID)
      AND (@PhoneNumberID IS NULL OR r.PhoneNumberID = @PhoneNumberID)
      ORDER BY r.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDevice]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateDevice]
    @id INT,
    @name NVARCHAR(100)
AS
BEGIN
    UPDATE Device
    SET name = @name
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UnreservePhoneNumber]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UnreservePhoneNumber]
    @ClientID INT,
    @PhoneNumberID INT
AS
BEGIN
    UPDATE PhoneNumberReservations
    SET EED = GETDATE()
    WHERE ClientID = @ClientID
      AND PhoneNumberID = @PhoneNumberID
      AND BED <= GETDATE()
      AND (EED IS NULL OR EED > GETDATE())
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateClient]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateClient]
    @ID INT,
    @Name NVARCHAR(100),
    @Type INT,
    @BirthDate DATETIME = NULL
AS
BEGIN
    UPDATE Client
    SET Name = @Name,
        Type = @Type,
        BirthDate = @BirthDate
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePhoneNumber]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePhoneNumber]
    @ID INT,
    @Number VARCHAR(20),
    @DeviceID INT
AS
BEGIN
    UPDATE PhoneNumber
    SET Number = @Number, DeviceID = @DeviceID
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[ValidateUserLogin]    Script Date: 4/9/2026 11:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateUserLogin]
    @Username NVARCHAR(50),
    @PasswordHash CHAR(64)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, Username
    FROM Users
    WHERE Username = @Username AND PasswordHash = @PasswordHash
END
GO
USE [master]
GO
